﻿<h3 >Welcome to the <span data-bind="text: title"></span> page!</h3> 
This has stuff all about us!

Perhaps you'd like to go to some other page: <a href="#/home">Home</a>


<h2>ListView of Ponies</h2>
<div data-bind="foreach: ponies" class="win-listview" >    
    <div class="container">
        <div class="container-title">
            <h3>Pony:</h3>
            <h4 data-bind="text: name"></h4>
            <h4 data-bind="text: gender"></h4>
        </div>
        <div class="container-img">
            <img src=""  />
        </div>        
    </div>    
</div>
